---
---

<html lang="en">
  <head>

    <meta name="slug" content="{{project_title}}" />
    <meta name="startdate" content="{{page.startdate}}" />
    <meta name="enddate" content="{{page.enddate}}" />
    <meta name="country" content="{{page.country}}" />
    <meta name="venue" content="{{page.venue}}" />
    <meta name="address" content="{{page.address}}" />
    <meta name="latlng" content="{{page.latlng}}" />
    <meta name="language" content="{{page.language}}" />
    <meta name="eventbrite" content="{{page.eventbrite}}" />
    <meta name="instructor" content="{{page.instructor|join:'|'}}" />
    <meta name="helper" content="{{page.helper|join:'|'}}" />
    <meta name="contact" content="{{page.email}}" />
    <meta name="carpentry" content="{{site.carpentry}}"
    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
    {% endif %}

<!doctype html>
<html lang="en">
  <head>
<div class="logo">
  <img src="{{ '/images/logo.png' | relative_url }}" alt="Logo image">
</div>

<!--
<h2>Latest Posts</h2>
<ul>
  {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>    
{% endfor %}
</ul>
-->

<link rel="stylesheet" href="css/style.css">


